@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 48px;
  margin-top: 0.5em;
}

.container {
  border: 7px solid rgb(126, 126, 126);
  display: inline-block; /* prevents div from taking full page width */
  padding: 0.5em;
  margin: 2em;
  background-color: rgb(0, 0, 0);
}

.results {
  border: 1px solid black;
  height: 100px;
  background-color: rgb(227, 222, 222);
  padding: 0.5em;
}

.results-content {
  font-weight: 500;
  font-size: 36px;
  text-align: right;
  position: relative;
  top: 50%;
}

.button-container {
  margin-top: 0.5em;
}

.row > button {
  font-size: 24px;
  font-weight: 600;
  height: 85px;
  width: 85px;
  margin: 0.05em;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.utils-button {
  background-color: rgb(170, 242, 242);
}

.operator-button {
  background-color: rgb(238, 195, 161);
}
